/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Resets and global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

/* Header */
header {
    background-color: darkolivegreen;
    display: flex;
    justify-content: space-between;
}

.logoContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo {
    width: 45px;
    height: 45px;
    pointer-events: none;
}

.logoTitle {
    color: whitesmoke;
    padding: 0.5rem 0;
    pointer-events: none;
}

.logOut {
    background-color: rgb(59, 73, 35);
    color: whitesmoke;
    border-style: none;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    cursor: pointer;
    transition: background-color 500ms ease;

}

.logOut:hover {
    background-color: rgb(27, 34, 16);
}

/* Title & MainContainer */
.appTitle {
    font-size: 5.5rem;
    text-align: center;
    margin-top: 2rem;
}

.mainDiv {
    width: fit-content;
    margin: 2rem auto 0 auto;
}

/* Form and Inputs */
form {
    margin: 0 auto;
    display: flex;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.inputContainer label {
    margin: 0 auto;
}

.inputContainer input {
    height: 4rem;
    width: 30rem;
    border-style: none;
    border: 2px solid black;
    padding-left: 0.2em;
    font-size: 1.5rem;
}

.inputContainer input:focus {
    outline: none;
}

#inputID {
    width: 6.1em;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#inputProduct {
    border-left: none;
}

#inputAmount {
    width: 6em;
    border-left: none;
}

.inputBtn {
    border-style: none;
    padding: 0 3.45rem;
    background-color: darkolivegreen;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 2rem;
    color: whitesmoke;
    transition: background-color 500ms ease;
    border: 2px solid black;
    border-left: none;
}

.inputBtn:hover {
    background-color: rgb(116, 146, 64);
}

/* Control Panel */
.panelControl {
    display: flex;
    width: fit-content;
    margin: 1.5rem auto 0 auto;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.userTitle {}

.userActive {}

.searchFormContainer {
    display: flex;
    gap: 0.3rem;
}

.searchFormByName {}

.searchInput {
    height: 1.5rem;
    width: 13rem;
    border: 2px solid black;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    padding-left: 0.2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.searchInput:focus {
    outline: none;
}

.searchBtn {
    border-style: none;
    color: whitesmoke;
    cursor: pointer;
    padding: 0 0.5rem;
    background-color: rgb(59, 73, 35);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: background-color 500ms ease;
}

.searchBtn:hover {
    background-color: rgb(116, 146, 64);
}

.searchBtn img {}

.searchFormByID {}

.selectDropdown {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.orderOptionsDropdown__title {
    font-weight: bold;
}

.orderDropdownOptions__container {
    padding: 0.1rem 0.5rem;
    border: 2px solid black;
    border-radius: 4px;
}

.orderOptionsDropdown__option {
    padding: 0.1rem 0;
}

/* Items List */
.itemList {
    width: fit-content;
    margin: 1em auto 0 auto;
    display: flex;
    flex-direction: column;
}

.itemContainer {
    margin-bottom: 0.25em;
    display: flex;
}


.itemId {
    height: 3rem;
    width: 9.13rem;
    border: 2px solid black;
    padding-left: 0.2em;
    font-size: 1.5rem;
    line-height: 2.72rem;
}

.itemName {
    height: 3rem;
    width: 30rem;
    border: 2px solid black;
    padding-left: 0.2em;
    font-size: 1.5rem;
    line-height: 2.72rem;
    border-left: none;
}

.itemAmount {
    width: 9rem;
    border: 2px solid black;
    text-align: center;
    border-left: none;
    font-size: 1.5rem;
    line-height: 2.72rem;
}

.submitBtn {
    width: 4.13rem;
    font-size: 1.5rem;
    background-color: cadetblue;
    cursor: pointer;
}

.btn {
    border-style: none;
    color: whitesmoke;
    padding: 0 1.5rem;
    cursor: pointer;
    border: 2px solid black;
    border-left: none;
}

.btnEdit {
    background-color: cadetblue;
    cursor: pointer;
    transition: background-color 500ms ease;
}

.btnEdit:hover {
    background-color: rgb(114, 183, 185);
}

.btnDelete {
    background-color: crimson;
    transition: background-color 500ms ease;
}

.btnDelete:hover {
    background-color: rgb(245, 20, 65);
}

.btnDisabled {
    cursor: not-allowed;
    pointer-events: none;
}

/* Delete everything btn */
.emptyBtn {
    display: block;
    margin: 1em auto 1em auto;
    font-size: 1.4rem;
    border: none;
    background-color: #777777;
    color: whitesmoke;
    padding: 0.9em 1em;
    border-radius: 4px;
    line-height: 0;
    cursor: pointer;
    transition: background-color 500ms ease;

}

.emptyBtn:hover {
    background-color: #555555;
}

/* Form edit */
.formEdit {
    background-color: blueviolet;
    width: 52.26rem;
    height: 3rem;
}

/* Extra features */
.itemFocus {
    outline: 5px solid orange !important;
    border-radius: 4px;
}

.modalBtn:focus {
    box-shadow: none !important;
}

/* Media Queries */
@media (max-width: 915px) {
    html {
        font-size: 0.8rem;
    }
}

@media (max-width: 730px) {
    html {
        font-size: 0.7rem;
    }
}

@media (max-width: 640px) {
    html {
        font-size: 0.6rem;
    }
}

@media (max-width: 550px) {
    html {
        font-size: 0.5rem;
    }
}

@media (max-width: 458px) {
    html {
        font-size: 0.4rem;
    }
}

@media (max-width: 370px) {
    html {
        font-size: 0.3rem;
    }
}