/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Resets and global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main container */
.loginContainer {
    margin-top: -4%;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 4px;
}

h1 {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Input form section */
.inputLogin {
    padding: 0.5rem;
    padding-left: 0.2rem;
    margin-bottom: 0.75rem;
    font-weight: 1.5rem;
    border-radius: 4px;
    border: 1px solid grey;
}

.btnLogin {
    margin: 1rem 0 1rem 0;
    border-style: none;
    padding: 0.5rem 0;
    border-radius: 4px;
    background-color: darkolivegreen;
    color: whitesmoke;
    cursor: pointer;
    letter-spacing: 0.05rem;
    font-weight: bold;
}

.btnLogin:hover {
    background-color: rgb(58, 75, 28)
}

.btnCreateAccount {
    border-style: none;
    padding: 0.5rem 0;
    border-radius: 4px;
    background-color: rgb(71, 117, 119);
    color: whitesmoke;
    cursor: pointer;
    letter-spacing: 0.05rem;
    font-weight: bold;
    transition: background-color 500ms ease;
}

.btnCreateAccount:hover {
    background-color: cadetblue;
}

.returnAnchor {
    color: rgb(43, 43, 43);
    text-decoration: none;
    margin: 0.7rem auto;
}

.returnAnchor:hover {
    color: black;
    text-decoration: underline;
}

.modalBtn:focus {
    box-shadow: none !important;
}

/* Media queries */
@media (max-width: 335px) {
    h1 {
        font-size: 4rem;
    }
}